/* FIXME: Background Color: #1d1d22
Div color/Header/footer: Gradient from #282a30 to #101119
Button color: Gradient from #3f85e6 to #1cbed8
Primary-font-color: #c3c5c6 
Secondary-font-color: #242529 
*/

html, body {
  background-color: #0f0f0f;
  color: #FAFAFA;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header > h1 {
  letter-spacing: 5px;
  margin-bottom: -16px;
}

.header > h4 {
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 500;
}

.header > .nav {
  display: flex;
  flex-direction: row;
}

.header > .nav > a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 3px;
  border: 1px solid white;
  min-width: 160px;
  text-align: center;
  padding: 2.5px;
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63, 133, 230, 0.75) 0%, rgba(28, 178, 216, 0.75) 100%);
  border-radius: 2px;
}

.content-wrapper {
  background: black;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.content-wrapper > .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  text-align: center;
}

.content-wrapper > .intro > h3 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 28px;
}

#typewriter {
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63, 133, 230, 0.60) 0%, rgba(28, 178, 216, 0.60) 100%);
  padding-left: 4px;
  padding-right: 4px;
}

#input {

}

.zeroop {
  opacity: 0;
}

.projects-wrapper {
  margin-bottom: 30px;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
  background-color: #0f0f0f;
  text-align: center;
  max-width: 400px;
  min-height: 300px;
  padding: 10px;
  border-radius: 20px;
  filter: drop-shadow(0 0 1.0rem rgba(222,145,146,0.45));
  margin: 20px;
}

.project > h1 {
  margin-bottom: 10px;
}

.img-button-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-pictures {
  max-width: 390px;
  max-height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.35rem rgba(5, 5, 5, 0.651));
}

.project > .img-button-cont > a {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 3px;
  border: 1px solid white;
  min-width: 160px; 
  font-weight: 400;
  text-align: center;
  padding: 2.5px;
  background: rgb(131,86,170);
  background: linear-gradient(94deg, rgba(131,86,170,1) 0%, rgba(222,145,146,1) 100%);
  border-radius: 2px;
}

.language-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 99%;
  border-top: 1px solid white;
  margin-top: 20px;
}

.language-wrapper > h3 {
  letter-spacing: 5px;
  margin-top: 5px;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}

.language {
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63, 133, 230, 0.60) 0%, rgba(28, 178, 216, 0.60) 100%);
  width: fit-content;
  padding: 3px;
  border-radius: 4px;
  margin: 0px 5px 10px 5px;
}
