/* FIXME: Background Color: #1d1d22
Div color/Header/footer: Gradient from #282a30 to #101119
Button color: Gradient from #3f85e6 to #1cbed8
Primary-font-color: #c3c5c6 
Secondary-font-color: #242529 
*/

html, body {
  background-color: #161616;
  color: #FAFAFA;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.header > h1 {
  letter-spacing: 5px;
  margin-bottom: -16px;
}

.header > h4 {
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 500;
}

.header > .nav {
  display: flex;
  flex-direction: row;
}

.header > .nav > a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  letter-spacing: 3px;
  border: 1px solid white;
  min-width: 160px;
  text-align: center;
  padding: 2.5px;
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63,133,230,1) 0%, rgba(28,179,216,1) 100%);
  border-radius: 2px;
}

.content-wrapper {
  background: black;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.content-wrapper > .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  text-align: center;
}

.content-wrapper > .intro > h3 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 28px;
}

#se {
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63, 133, 230, 0.60) 0%, rgba(28, 178, 216, 0.60) 100%);
  padding-left: 4px;
  padding-right: 4px;
}

.projects-wrapper {
  margin-bottom: 30px;
}

.project {
  background-color: #161616;
  text-align: center;
  min-width: 300px;
  min-height: 300px;
  padding: 10px;
}

.project > a {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 3px;
  border: 1px solid white;
  min-width: 160px;
  font-weight: 400;
  text-align: center;
  padding: 2.5px;
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63,133,230,1) 0%, rgba(28,179,216,1) 100%);
  border-radius: 2px;
}

.language-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: center;
  margin-top: 25px;
}

.language {
  background: rgb(63,133,230);
  background: linear-gradient(94deg, rgba(63, 133, 230, 0.60) 0%, rgba(28, 178, 216, 0.60) 100%);
  width: fit-content;
  padding: 3px;
  border-radius: 4px;
  margin: 0px 5px 10px 5px;
}
